@media only screen and (max-width: 1920px) {}


@media only screen and (max-width: 1280px) {}


@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 400px) {
	.grid {
        max-height: 380px;
        max-width: 380px;
    }

    .grid div {
        max-height: 38px;
        max-width: 38px;
    }
}


@media only screen and (max-width: 375px) {
    .grid {
        max-height: 350px;
        max-width: 350px;
    }

    .grid div {
        max-height: 35px;
        max-width: 35px;
    }
}


@media only screen and (max-width: 320px) {
    .grid {
        max-height: 300px;
        max-width: 300px;
    }

    .grid div {
        max-height: 30px;
        max-width: 30px;
    }
}